<div class="register">
  <div class="container">
    <h2>Register Here</h2>
    <div class="login-form-grids">
      <h6>Login information</h6>
      <form class="form" role="form" method="post" action="register" accept-charset="UTF-8" id="register-nav">
        <input type="email" placeholder="Email Address" required="required"
               name="Email" [(ngModel)]="email" >
        <input type="password" placeholder="Password" required="required"
               name="Password" [(ngModel)]="password" >
        <input type="password" placeholder="Password Confirmation" required="required"
               name="RePassword" [(ngModel)]="rePassword" >
        <input type="submit" value="Register" (click)="register()">
      </form>
    </div>
    <div class="register-home">
      <a href="index.html">Home</a>
    </div>
  </div>
</div>

