<div>
  <button mat-button (click)="open(loginModal)">
    <fa name="user"></fa>
  </button>
</div>

<ng-template #loginModal let-d="dismiss" let-c="close">
  <!--<div class="modal-header">-->
    <!--<h4 class="modal-title">User Login</h4>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<input placeholder="Enter username" [(ngModel)]="username">-->
    <!--<input class="password" placeholder="Enter Password" [(ngModel)]="password">-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button mat-raised-button (click)="login(loginModal)" class="btn-primary">login</button>-->
  <!--</div>-->

</ng-template>
