<div class="soci">
  <ul>
    <li><a href="#" class="facebook-1"> </a></li>
    <li><a href="#" class="facebook-1 twitter"> </a></li>
    <li><a href="#" class="facebook-1 chrome"> </a></li>
    <li><a href="#"><i class="glyphicon glyphicon-envelope"> </i></a></li>
    <li><a href="#"><i class="glyphicon glyphicon-print"> </i></a></li>
    <li><a href="#"><i class="glyphicon glyphicon-plus"> </i></a></li>
  </ul>
</div>
<div class="tc-ch">

  <div class="tch-img">
    <a href><img src="/public/blogs/images/{{blog.photo}}" class="img-responsive" alt=""></a>
  </div>
  <a class="blog blue">Participants:{{blog.users.length}}</a>
  <h3><a href>{{blog.name}}</a></h3>
  <p>{{blog.description}}</p>

  <div class="blog-poast-info">
    <ul>
      <li><i class="glyphicon glyphicon-user"> </i><a class="admin" > Admin :{{blog.creator}}</a></li>
      <li><i class="glyphicon glyphicon-calendar"> </i>{{blog.created_at}}</li>
      <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" >{{blog.posts.length}} Comments </a></li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
