<!-- Header desktop -->
<div class="container-menu-desktop fix-menu-desktop">
  <div class="wrap-menu-desktop">
    <nav class="limiter-menu-desktop container d-flex justify-content-between">
      <!-- Menu desktop -->
      <div class="menu-desktop">
        <a href="#" class="logo">
          <img src="/assets/images/background/bookShopLogo.png" class="img-fluid" alt="IMG-LOGO">
        </a>

        <ul class="main-menu">
          <li class="active-menu">
            <a [routerLink]="['/Home']">Home</a>
          </li>

          <li>
            <a [routerLink]="['/Shopping']">Shop</a>
          </li>

          <!--<li class="label1" data-label1="hot">-->
            <!--<a href="shoping-cart.html">Features</a>-->
          <!--</li>-->

          <li>
            <a [routerLink]="['/Groups']">Reading Group</a>
          </li>

          <!--<li>-->
            <!--<a>About</a>-->
          <!--</li>-->

          <!--<li>-->
            <!--<a>Contact</a>-->
          <!--</li>-->
        </ul>
      </div>

      <app-login-nav-bar></app-login-nav-bar>
    </nav>
  </div>
</div>

