<div class="footer">
  <div class="container">
    <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">
        <h3>Contact</h3>

        <ul class="address">
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
        </ul>
      </div>
      <!--<div class="col-md-3 w3_footer_grid">-->
        <!--<h3>Information</h3>-->
        <!--<ul class="info">-->
          <!--<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">About Us</a></li>-->
          <!--<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact.html">Contact Us</a></li>-->
          <!--<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="short-codes.html">Short Codes</a></li>-->
          <!--<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="faq.html">FAQ's</a></li>-->
          <!--<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Special Products</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="col-md-3 w3_footer_grid">
        <h3>Category</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Groceries</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Household</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Personal Care</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Packaged Foods</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Beverages</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Profile</h3>
        <ul class="info">
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a [RouterLink]="['Shopping']"]>Store</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">My Cart</a></li>
          <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a [routerLink]="['/Register']">Create Account</a></li>
        </ul>


      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <div class="footer-copy">

    <div class="container">
      <p>© 2017 Book Shop. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
  </div>

</div>
