.button-edit{
	background-color:#0080FF;
	border: none;
    color: white;
	text-align: center;
    text-decoration: none;
	padding: 1px 4px;
	margin: 4px 6px;
	border-radius: 8px;
}

.button-delet{
	background-color:#808080;
	border: none;
    color: white;
	text-align: center;
    text-decoration: none;
	padding: 1px 4px;
	margin: 4px 6px;
	border-radius: 8px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.row {
  width: 100%;
  text-align: center; /* center the content of the container*/
}

.block {
  display: inline-block; /* display inline with abality to provide width/height*/
}

.input1 {
    vertical-align: -2px;
}