<!--
	<!-- Block2 
	<div class="card">
			<div class=" flex-w p-t-14">
				<div> 
					<a href="product-detail.html" class="stext-105 cl3 hov-cl1 trans-04 js-name-b2 p-b-6">
					testEmail
					</a>
				</div>
				<div>
				<label>
					<input type="checkbox" disabled="disabled" 
					checked="checked" />
					test</label>
				</div>				
				<div>
					<button class="button-edit ">
						Edit
					</button>
				</div>
				
				<div>
					<button class="button-delet block">
						Delet
					</button>
				</div>
			<!--<a href="#" class="button-edit">Edit</a>
			</div>
		
</div>-->
<div class="card">
	<div class = "container">
		<tr>
            <td>
                <a href="#" class="user-link" style ="vertical-align: middle;">marlon@brando.com</a>
            </td>
			<td>
				<span class="user-subhead">Member</span>
			</td>
            <td class="text-center">
				2013/08/12
            </td>
            <td style="width: 20%;">
                <a href="#" class="table-link" style ="vertical-align: middle;">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link"style ="vertical-align: middle;">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link danger" style ="vertical-align: middle;">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>
	</div>
</div>
