	<div class="col-sm-6 col-md-4 col-lg-3 p-b-35
	isotope-item women" >
	<!-- Block2 -->
	<div class="card">
		<div class="container">
			<div class="block2-txt flex-w flex-t p-t-14">
				<div> 
					<a href="product-detail.html" class="stext-105 cl3 hov-cl1 trans-04 js-name-b2 p-b-6">
					testEmail
					</a>
				</div>
				<div>
				<label>
					<input type="checkbox" disabled="disabled" 
					checked="checked" style ="margin:0px 10px;" class ="input1"/>
				 Label text
				</label>
				</div>				
				<div>
					<button class="button-edit ">
						Edit
					</button>
				</div>
				
				<div>
					<button class="button-delet block">
						Delet
					</button>
				</div>
			<!--<a href="#" class="button-edit">Edit</a>-->
			</div>
		</div>
	</div>
</div>
