<div class="checkout">
  <div class="container">
    <h2>Your shopping cart contains: <span>{{books.length}} Products</span></h2>
    <div class="checkout-right">
      <table class="timetable_sub">
        <thead>
        <tr>
          <th>ISBN</th>
          <th>Book</th>
          <th>Series</th>
          <th>Book Name</th>

          <th>Price</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
          <tr class="rem1" *ngFor="let book of books">
            <td class="invert">{{book.ISBN}}</td>
            <td class="invert-image">
              <a href="single.html">
                <img src="public/books/images/{{book.photo}}" alt=" " class="img-responsive">
              </a>
            </td>
            <td class="invert">{{book.seriesName}}</td>
            <td class="invert">{{book.name}}</td>

            <td class="invert">${{book.price}}</td>
            <td class="invert">
              <div class="rem" (click)="shopping.removeFromCart(book)">
                <div class="close1"> </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="checkout-left">
      <!--<div class="checkout-left-basket">-->
        <!--<h4>Continue to basket</h4>-->
        <!--<ul>-->
          <!--<li>Product1 <i>-</i> <span>$15.00 </span></li>-->
          <!--<li>Product2 <i>-</i> <span>$25.00 </span></li>-->
          <!--<li>Product3 <i>-</i> <span>$29.00 </span></li>-->
          <!--<li>Total Service Charges <i>-</i> <span>$15.00</span></li>-->
          <!--<li>Total <i>-</i> <span>$84.00</span></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="checkout-right-basket">
        <!--<a href="single.html">-->
          <!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Pay-->
        <!--</a>-->
        <app-paypal></app-paypal>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

