<app-big-book-view #bigBookModal></app-big-book-view>

<div class="products">
  <div class="container">
    <div class="col-md-12 products-right">
      <div class="agile_top_brands_grids">
        <input type="submit" name="submit" value="Sell Your Book" class="btn btn-default pull-right">
        <div class="clearfix"> </div>
      </div>
      <ng-container *ngFor="let book of books; let i = index">
        <div class="agile_top_brands_grids" *ngIf="((i + 1) % 3) == 0 || i == books.length - 1">
          <app-small-book-view *ngIf="books[i - 2] != undefined" [bigViewClick]="bigBookModal.changeBook"
                               [book]="books[i - 2]"></app-small-book-view>
          <app-small-book-view *ngIf="books[i - 1] != undefined" [bigViewClick]="bigBookModal.changeBook"
                               [book]="books[i - 1]"></app-small-book-view>
          <app-small-book-view *ngIf="books[i] != undefined"  [bigViewClick]="bigBookModal.changeBook"
                               [book]="books[i]"></app-small-book-view>
          <div class="clearfix"></div>
        </div>
      </ng-container>
      <nav class="numbering">
        <ul class="pagination paging">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">«</span>
            </a>
          </li>
          <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<app-sell-book [addBookCallback]="addBook"></app-sell-book>

