<div class="col-md-4 top_brand_left">
  <div class="hover14 column">
    <div class="agile_top_brand_left_grid">
      <div class="agile_top_brand_left_grid1">
        <figure>
          <div class="snipcart-item block">
            <div class="snipcart-thumb">
              <a>
                <img style="min-height: 350px; max-height: 350px" src="images/books/images/{{book.photo}}" alt="" class="img-responsive">
              </a>
              <p>Name: {{book.name}}</p>
              <h4>Price: {{book.price}}</h4>
            </div>
            <div class="snipcart-details top_brand_home_details">
              <form action="#" method="post">
                <fieldset>
                  <input type="submit" name="submit" value="Add to cart" class="button">
                </fieldset>
              </form>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
