<div class="col-md-4 top_brand_left">
  <div class="hover14 column">
    <div class="agile_top_brand_left_grid">
      <div class="agile_top_brand_left_grid1">
        <figure>
          <div class="snipcart-item block">
            <div class="snipcart-thumb">
              <a href="single.html">
                <!--<img src="../../../assets/images/books/last%20empire1988948.jpg" alt="" class="img-responsive">-->
                <img style="min-height: 350px; max-height: 350px" src="images/books/images/last%20empire1988948.jpg" alt="" class="img-responsive">
              </a>
              <p>Saffola-gold</p>
              <h4>$80.99 <span>$105.00</span></h4>
            </div>
            <div class="snipcart-details top_brand_home_details">
              <form action="#" method="post">
                <fieldset>
                  <input type="submit" name="submit" value="Add to cart" class="button">
                </fieldset>
              </form>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
