<div style="padding-top: 50px"></div>
<h3 style="text-align: center;  background: #ff9b05;
 width: 60%; margin-left: auto; margin-right: auto;">Book for sell</h3>
<div class="products">
  <div class="container">
    <div class="col-md-12 products-right">
      <ng-container *ngFor="let book of unsold; let i = index">
        <div class="agile_top_brands_grids" *ngIf="((i + 1) % 3) == 1">
          <app-small-book-view [openable]="false" *ngIf="unsold[i + 2] != undefined" [book]="unsold[i + 2]"></app-small-book-view>
          <app-small-book-view [openable]="false" *ngIf="unsold[i + 1] != undefined" [book]="unsold[i + 1]"></app-small-book-view>
          <app-small-book-view [openable]="false" *ngIf="unsold[i] != undefined" [book]="unsold[i]"></app-small-book-view>
          <div class="clearfix"></div>
        </div>
      </ng-container>
      <!--<nav class="numbering" *ngIf="canMove">-->
        <!--<ul class="pagination paging">-->
          <!--<li>-->
            <!--<button class="btn btn-default" aria-label="Previous" (click)="previousPage()">-->
              <!--<span aria-hidden="true">«</span>-->
            <!--</button>-->
          <!--</li>-->
          <!--<li>-->
            <!--<button class="btn btn-default" aria-label="Next" (click)="nextPage()">-->
              <!--<span aria-hidden="true">»</span>-->
            <!--</button>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</nav>-->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<h3 style="text-align: center;  background: #ff9b05;
 width: 60%; margin-left: auto; margin-right: auto;">Books sold</h3>
<div class="products">
  <div class="container">
    <div class="col-md-12 products-right">
      <ng-container *ngFor="let book of sold; let i = index">
        <div class="agile_top_brands_grids" *ngIf="((i + 1) % 3) == 1 ">
          <app-small-book-view [openable]="false" *ngIf="sold[i + 2] != undefined" [book]="sold[i + 2]"></app-small-book-view>
          <app-small-book-view [openable]="false" *ngIf="sold[i + 1] != undefined" [book]="sold[i + 1]"></app-small-book-view>
          <app-small-book-view [openable]="false" *ngIf="sold[i] != undefined" [book]="sold[i]"></app-small-book-view>
          <div class="clearfix"></div>
        </div>
      </ng-container>
      <!--<nav class="numbering" *ngIf="canMove">-->
        <!--<ul class="pagination paging">-->
          <!--<li>-->
            <!--<button class="btn btn-default" aria-label="Previous" (click)="previousPage()">-->
              <!--<span aria-hidden="true">«</span>-->
            <!--</button>-->
          <!--</li>-->
          <!--<li>-->
            <!--<button class="btn btn-default" aria-label="Next" (click)="nextPage()">-->
              <!--<span aria-hidden="true">»</span>-->
            <!--</button>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</nav>-->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<a href class="float" role="button" style="background-color: #e74c3c" data-toggle="modal" data-target="#SellBookModal">
  <i class="fa fa-plus my-float icon-flipped"></i>
</a>
<div style="z-index: 0" class="label-container">
  <i class="fa fa-play label-arrow"></i>
  <div class="label-text">Add a new book</div>
</div>

<app-sell-book (finishUpload)="refresh()"></app-sell-book>



<!--<div class="menu pmd-floating-action"  role="navigation">
  <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Supervisor Account">
    <span class="pmd-floating-hidden">Supervisor Account</span>
    <i class="material-icons">supervisor_account</i>
  </a>
  <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Cloud Queue">
    <span class="pmd-floating-hidden">Cloud Queue</span>
    <i class="material-icons">cloud_queue</i>
  </a>
  <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Headset">
    <span class="pmd-floating-hidden">Headset</span>
    <i class="material-icons">headset</i>
  </a>
  <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Dialpad">
    <span class="pmd-floating-hidden">Dialpad</span>
    <i class="material-icons">dialpad</i>
  </a>
  <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add" href="javascript:void(0);">
    <span class="pmd-floating-hidden">Primary</span>
    <i class="material-icons pmd-sm">add</i>
  </a>
</div>-->

<!--<div id="css3navigation" style="position:absolute;top:119px;">
  <nav id="css3mainnav">        <ol>
    <li class="css3videos"><a href="http://www.tolly2day.com/video/">Videos</a>
      <ul>
        <li><a href="#">Trailers</a></li>
        <li><a href="#">Movies</a></li>
      </ul>
    </li>
  </ol></nav>
</div>-->
