<div class="angular-blogs">
  <div class="banner1 angular-blogs"></div>

  <!-- blog -->
  <div class="technology-1 angular-blogs">
    <div class="container">
      <div class="col-md-9 technology-left">
        <div class="business">
          <div class=" blog-grid2">
            <img src="../../../assets/images/1.jpg" class="img-responsive" alt="">
            <div class="blog-text">
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div>
          <div class="comment-top">
            <h2>Comment</h2>
            <div class="media-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img src="../../../assets/images/icons/si.png" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Joseph Goh</h4>
                  <p>asdfasdfasdfasdfasdf</p>
                </div>
              </div>
              <ng-container *ngFor="let post of posts">
                <app-blog-post [postMsg]="post"></app-blog-post>
                <div class="clearfix"></div>
              </ng-container>
            </div>
          </div>

          <!-- Add comments -->
          <div class="comment">
            <h3>Leave a Comment</h3>
            <div class=" comment-bottom">
              <form>
                <textarea placeholder="Message" required="" name="postInput"
                          style="color: #833ab4"[(ngModel)]="msg"></textarea>
                <input type="submit" value="Send"
                       (click)="blogService.sendPost(msg)">
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- technology-right -->
      <div class="col-md-3 technology-right-1">
        <div class="blo-top">
          <div class="tech-btm">
            <img src="images/banner1.jpg" class="img-responsive" alt="">
          </div>
        </div>
        <div class="blo-top">
          <div class="tech-btm">
            <h4>Sign up to our newsletter</h4>
            <p>Pellentesque dui, non felis. Maecenas male</p>
            <div class="name">
              <form>
                <input type="text" placeholder="Email" required="">
              </form>
            </div>
            <div class="button">
              <form>
                <input type="submit" value="Subscribe">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="blo-top1">
          <div class="tech-btm">
            <h4>Top stories of the week </h4>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="singlepage.html"><img src="images/6.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="singlepage.html">Pellentesque dui, non felis. Maecenas male</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="singlepage.html"><img src="images/7.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="singlepage.html">Pellentesque dui, non felis. Maecenas male</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="singlepage.html"><img src="images/11.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="singlepage.html">Pellentesque dui, non felis. Maecenas male</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="singlepage.html"><img src="images/9.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="singlepage.html">Pellentesque dui, non felis. Maecenas male</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="singlepage.html"><img src="images/10.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="singlepage.html">Pellentesque dui, non felis. Maecenas male</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <!-- technology-right -->
    </div>
  </div>
</div>
