<div class="col-md-9 technology-left">
  <div class="business">
    <div class=" blog-grid2">
      <img src="/public/blogs/images/{{blog.photo}}" style="width: 100%;" class="img-responsive" alt="">
      <div class="blog-text">
        <h5>{{blog.name}}</h5>
        <p>{{blog.description}}</p>
        <p>BY: {{blog.creator}}</p>
      </div>
    </div>
    <div class="row">
      <button class="button button-like pull-right" [class.liked]="like" (click)="likeToggle()">
        <i class="fa fa-heart"></i>
        <span>Like {{blog.likes.length}}</span>
      </button>
    </div>
    <div class="comment-top">
      <h2>Comment</h2>
      <div class="media-body">
        <app-blog-post *ngFor="let post of blog.posts" [post]="post"></app-blog-post>
      </div>
    </div>

    <!-- Add comments -->
    <div class="comment">
      <h3>Leave a Comment</h3>
      <div class=" comment-bottom">
        <form>
                <textarea placeholder="Message" required="" name="postInput"
                          style="color: #833ab4"[(ngModel)]="msg"></textarea>
          <input type="submit" value="Send"
                 (click)="blogService.sendPost(msg,blog.name); msg = '';">
        </form>
      </div>
    </div>
  </div>
</div>

<div style="z-index: 100" class="dropdown float" dropdown [dropup]="true" *ngIf="isCreator">
  <a dropdownToggle class="float" role="button">
    <i class="fa fa-users my-float"></i>
  </a>
  <div class="label-container">
    <div class="label-text">User Join Requests</div>
    <i class="fa fa-play label-arrow"></i>
  </div>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li *ngFor="let req of blog.joinRequest" role="menuitem">
      <span>
        <button class="btn btn-success pull-right" (click)="blogService.addUser(req,blog)"><i class="fa fa-plus">{{req}}</i></button>
      </span>
    </li>
  </ul>
</div>
